In [1]:
"""Q1. Create one variable containing following type of data
(i)	string
(ii)	list
(iii)	float
(iv)	tuple"""

'Q1. Create one variable containing following type of data\n(i)\tstring\n(ii)\tlist\n(iii)\tfloat\n(iv)\ttuple'

In [2]:
a = "Jishan is learning python"

In [3]:
type(a)

str

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]

In [5]:
type(l)

list

In [6]:
f = 23.4567

In [7]:
type(f)

float

In [8]:
t = (1,2,3,4,5,6)

In [9]:
type(t)

tuple

In [10]:
"""Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable."""

'Q2. Given are some following variables containing data:\n\n(i)\tvar1 = ‘ ‘\n\n(ii)\tvar2 = ‘[ DS , ML , Python]’\n\n(iii)\tvar3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n\n(iv)\tvar4 = 1.\n\n\nWhat will be the data type of the above given variable.'

In [22]:
var1 = "[]"

In [23]:
type(var1)

str

In [20]:
var2 = "[ DS , ML , Python"

In [21]:
type(var2)

str

In [25]:
var3 = [ "DS", "ML" , "Python""09 May_AssQ.ipynb" ]

In [27]:
type(var3)

list

In [28]:
var4 = 1

In [29]:
type(var4)

int

In [30]:
"""Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**"""

'Q3. Explain the use of the following operators using an example:\n\n(i)\t/\n\n(ii)\t% \n\n(iii)\t//\n\n(iv)\t**'

In [31]:
a=8
b=2

In [32]:
a/b

4.0

In [33]:
a%b

0

In [34]:
a//b

4

In [35]:
a**b

64

In [1]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type."""

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the \nelement and its data type.'

In [2]:
l=[1,2,3,4,5,"Jishan", "DBE",23.456,True, False]

In [3]:
type(l)

list

In [4]:
l

[1, 2, 3, 4, 5, 'Jishan', 'DBE', 23.456, True, False]

In [12]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
Jishan <class 'str'>
DBE <class 'str'>
23.456 <class 'float'>
True <class 'bool'>
False <class 'bool'>

In [1]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not."""

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is \ndivisible by 3 or not.'

In [2]:
l =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [3]:
type(l)

list

In [5]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [17]:
for i in l:
    if i % 3 ==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [18]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property."""

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing \nthis property.'

In [5]:
"""In Python, mutable objects are objects whose values can be modified after they are created. This means that you can change the internal state of a mutable object without creating a new object. Mutable objects are contrasted with immutable objects, which cannot be changed once they are created. Immutable objects are usually safer to use in certain contexts, as they prevent unintended modifications.

Some common examples of mutable objects in Python include:

Lists: Lists are ordered collections of items that can be modified by adding, removing, or changing elements.

Dictionaries: Dictionaries are key-value pairs where the values associated with keys can be modified.

Sets: Sets are collections of unique elements that can be modified by adding or removing items.

Bytearrays: Bytearrays are mutable sequences of bytes."""

'In Python, mutable objects are objects whose values can be modified after they are created. This means that you can change the internal state of a mutable object without creating a new object. Mutable objects are contrasted with immutable objects, which cannot be changed once they are created. Immutable objects are usually safer to use in certain contexts, as they prevent unintended modifications.\n\nSome common examples of mutable objects in Python include:\n\nLists: Lists are ordered collections of items that can be modified by adding, removing, or changing elements.\n\nDictionaries: Dictionaries are key-value pairs where the values associated with keys can be modified.\n\nSets: Sets are collections of unique elements that can be modified by adding or removing items.\n\nBytearrays: Bytearrays are mutable sequences of bytes.'

In [6]:
""" Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible."""

' Using a while loop, verify if the number A is purely divisible by number B and if so then how many \ntimes it can be divisible.'

In [16]:
def count_divisions(a,b):
    count = 0
    while a>=b and a%b ==0:
        count += 1
        a /= b
    return count

number_a = int(input("Enter the dividend (A):"))
number_b = int(input("Enter the divisor (B):"))

divisions = count_divisions(number_a, number_b)

if divisions > 0:
    print(f"{number_a} is divisible by {number_b} and can be divioded {divisions} timees.")
else:
    print(f"{number_a} is not divisible by {number_b}")

40 is divisible by 2 and can be divioded 3 timees.